<div class="container-fluid">
    <h6 class="text-center" style="color: #63cdff;" *ngIf="loading">Loading...</h6>
    <h5 class="text-right total_count" *ngIf="employeedata.length > 0">Total of <span class="font-weight-bold text-warning">{{employeedata.length}}</span> employee</h5>
    <div class="row">
        <div class="col-sm-3" *ngFor="let employee of employeedata | slice: (page-1) * pageSize : page * pageSize; let i = index">
            <div class="card shadow card-style mt-3" (click)="showEmp(employee, i)">
                <div>
                    <div>
                        <img [src]="employee.avatar" class="img-fluid imgcard-style" alt="Employee-Image">
                    </div>
                </div>
                <div class="card-footer footercolor">
                    <p class="empname">{{employee.first_name}} {{employee.last_name}}</p>
                </div>
              </div>
        </div>
    </div>
    <div class="float-right pt-4">
        <ngb-pagination [collectionSize]="employeedata.length" [(page)]="page" [pageSize]="pageSize" [directionLinks]="false"></ngb-pagination>
    </div>
</div>